<div>
	<h3>Convite de Amizade</h3>
</div>
<div>
	{{#if obj.friendRequests}}
	<form class="form-group">
		<p>Você recebeu um novo convite de:</p>
		<ul id="friend_request_list" class="list-group">
			{{#each obj.friendRequests}}
				<li class="list-group-item">
					<p><b>{{@key}}</b></p>
					<div>
						<buton class="btn btn-success" id="aceitar_convite_amizade_{{@key}}" name="{{@key}}">Aceitar</buton>
						<buton class="btn btn-danger" id="rejeitar_convite_amizade_{{@key}}" name="{{@key}}" >Rejeitar</buton>
					</div>
				</li>
			{{/each}}
		</ul>
	</form>
	{{else}}
		<p>Você não possui novos convites de amizade.</p>
	{{/if}}
</div>
