{{#if obj.groupObj.total}}
	<button class="btn btn-primary" id="add_novo_membro" style="float:right;">Add novos membros</button>
	<div class="col-sm-offset-3 col-sm-6">
		{{#each obj.groupObj.jogos}}
			<div>
				<h4 style="text-align:center">{{this.player1}}<small> {{this.player1Team}}</small> {{this.player1Goals}} x {{this.player2Goals}} <small>{{this.player2Team}}</small> {{this.player2}}</h4>
			</div>
		{{/each}}
	</div>
{{else}}
	<div class="nenhuma-partida">
		<h3>Você ainda nao jogou nenhuma partida nesse grupo!</h3>
		<button class="btn btn-primary btn-lg" id="add_novo_membro" style="margin:10px auto;">Add novos membros</button>
	</div>
{{/if}}
