<div class="main-header">
	<h1>{{obj.pageInfo.context}}<small>{{obj.pageInfo.mode.text}} </small></h1>
	<button id="add_partida" class="btn btn-success btn-lg">Adicionar nova partida</button>
</div>

{{#equal obj.pageInfo.context 'Resumo'}}
	<div class="display-jogos" style="height:25px;">
		<div class="col-xs-4">Venceu: {{obj.venceu}}</div>
		<div class="col-xs-4">Perdeu: {{obj.perdeu}}</div>
		<div class="col-xs-4">Empatou: {{obj.empatou}}</div>
	</div>
{{/equal}}