<div class="main-header">
	<h1>{{obj.pageInfo.context}}<small>{{obj.pageInfo.mode}}</small></h1>
	<button id="add_partida" class="btn btn-lg">Adicionar nova partida</button>
</div>
{{#equal obj.pageInfo.context 'Resumo'}}
	<div class="display_jogos">
		<div class="col-sm-4">Venceu: {{obj.venceu}}</div>
		<div class="col-sm-4">Perdeu: {{obj.perdeu}}</div>
		<div class="col-sm-4">Empatou: {{obj.empatou}}</div>
	</div>
{{/equal}}